{% spaceless %}
{% load staticfiles %}

{% endspaceless %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>Identity by HTML5 UP</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
</head>
<body class="is-preload">
<br><br><br><br><br><br>
<div class="container" align="center">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <style>
            body {
              margin: 0;
              background: url('/static/home_page/image/bg.png');
              background-size: 1540px 760px;
              background-repeat:no-repeat;
              background-position: 50% 0%;
              display: compact;
              font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

        </style>

        <section id="main">
            <header>
                <img src="img/oleg/oleg.png" srcset="static/home_page/image/Lev.png" alt="..." class="god__logo-image">
                <br><br><br>
                <h1>Lev Livshits</h1>
                <p>Engineer</p>
            </header>
            <!--
            <hr />
            <h2>Extra Stuff!</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="field">
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="field">
                        <select name="department" id="department">
                            <option value="">Department</option>
                            <option value="sales">Sales</option>
                            <option value="tech">Tech Support</option>
                            <option value="null">/dev/null</option>
                        </select>
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
                    </div>
                    <div class="field">
                        <input type="checkbox" id="human" name="human" /><label for="human">I'm a human</label>
                    </div>
                    <div class="field">
                        <label>But are you a robot?</label>
                        <input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label>
                        <input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label>
                    </div>
                </div>
                <ul class="actions special">
                    <li><a href="#" class="button">Get Started</a></li>
                </ul>
            </form>
            <hr />
            -->
            <p align="center">
                <a href="https://vk.com/id161038946"><img src="/static/home_page/image/vk.png" width="25"
                                                          height="25" alt="Пример"></a>

                <a href="https://vk.com/id161038946"><img src="/static/home_page/image/twitter.png" width="25"
                                                          height="25" alt="Пример"></a>

                <a href="https://vk.com/id161038946"><img src="/static/home_page/image/inst.png" width="25"
                                                          height="25" alt="Пример"></a>
            </p>

        </section>
    </div>
    <!-- Footer -->

    <footer id="footer">
        <ul class="copyright">
            <p>&copy; Lev Livshits, 2018</p>
            <p>Saint - Petersburg, Russia</p>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}



</script>

</body>
</html>